@font-face {
    font-family: "Artifakt Element Regular";
    src: url("fonts/ArtifaktElement-Regular.eot");
    src: url("fonts/ArtifaktElement-Regular.eot?#iefix") format("embedded-opentype"),
        url("fonts/ArtifaktElement-Regular.woff") format("woff"),
        url("fonts/ArtifaktElement-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Artifakt Element Medium";
    src: url("fonts/ArtifaktElement-Medium.eot");
    src: url("fonts/ArtifaktElement-Medium.eot?#iefix") format("embedded-opentype"),
        url("fonts/ArtifaktElement-Medium.woff") format("woff"),
        url("fonts/ArtifaktElement-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Artifakt Element Bold";
    src: url("fonts/ArtifaktElement-Bold.eot");
    src: url("fonts/ArtifaktElement-Bold.eot?#iefix") format("embedded-opentype"),
        url("fonts/ArtifaktElement-Bold.woff") format("woff"),
        url("fonts/ArtifaktElement-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: "Artifakt Legend Regular";
    src: url("fonts/ArtifaktLegend-Regular.eot");
    src: url("fonts/ArtifaktLegend-Regular.eot?#iefix") format("embedded-opentype"),
        url("fonts/ArtifaktLegend-Regular.woff") format("woff"),
        url("fonts/ArtifaktLegend-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Artifakt Legend Book";
    src: url("fonts/ArtifaktLegend-Book.eot");
    src: url("fonts/ArtifaktLegend-Book.eot?#iefix") format("embedded-opentype"),
        url("fonts/ArtifaktLegend-Book.woff") format("woff"),
        url("fonts/ArtifaktLegend-Book.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Artifakt Legend Medium";
    src: url("fonts/ArtifaktLegend-Medium.eot");
    src: url("fonts/ArtifaktLegend-Medium.eot?#iefix") format("embedded-opentype"),
        url("fonts/ArtifaktLegend-Medium.woff") format("woff"),
        url("fonts/ArtifaktLegend-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Artifakt Legend Bold";
    src: url("fonts/ArtifaktLegend-Bold.eot");
    src: url("fonts/ArtifaktLegend-Bold.eot?#iefix") format("embedded-opentype"),
        url("fonts/ArtifaktLegend-Bold.woff") format("woff"),
        url("fonts/ArtifaktLegend-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Artifakt Legend Black";
    src: url("fonts/ArtifaktLegend-Black.eot");
    src: url("fonts/ArtifaktLegend-Black.eot?#iefix") format("embedded-opentype"),
        url("fonts/ArtifaktLegend-Black.woff") format("woff"),
        url("fonts/ArtifaktLegend-Black.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}