$font_color_navbar: #3B4454;
$font_color_navbar_hover: #f0f4f7;
$font_regular: "Artifakt Legend Regular", Arial;
$font_book: "Artifakt Legend Book", Arial;
$font_medium: "Artifakt Legend Medium", Arial;
$font_bold: "Artifakt Legend Bold", Arial;
$font_black: "Artifakt Legend Black", Arial;

$font_color_home: #485366;
$font_color_link: #0696D7;
$font_color_text: #666666;

$font_color_btn: #0696D7;
$font_color_btn_hover: #0478ac;

$font_color_btn_orange: #FF7B65;

$font_color_dropdown: #222934;
$font_color_placeholder: #909398;

$font_h1_post: 2.375rem;

$none_dafault: none !important;

$bg_color_howto: #FFEFEC;
$bg_color_benefits: #F0F7E8;
$bg_color_recommend: #E2F9F7;
$bg_color_tips: #FEF3E3;
$font_color_red: #CC6452;

$bg_color_dark_blue: #3B4454;

$container_padding: 60px;

$bg_btn: linear-gradient(to right, #38abdf 0%, #0696d7 100%);

$bg_color_moretag: #f8f9fa;

$border_color_search: #e2e7eb;
$search_input_color: #f1f5f8;

$card_height: 310px;

